Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env
.env*.local
coverage/
.vscode/
.idea/
tests/
playwright-report/
test-results/
e2e/
.DS_Store
*.log
yarn-debug.log*
yarn-error.log*
